*,
*::before,
*::after {
    box-sizing: border-box
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.canvas-container {
    position: relative;
}
canvas {
    border: 1px solid black;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#grid {
    z-index: -1;
}

#start-game {
    border-radius: 9999999999px;
    background: #00f;
    color: white;
    padding: 1.5em 3em;
    font-family: "Legend Boy", sans-serif;
}