/*variables*/
:root {
    --fore-ground-color: #222;
    --background-color: #eee;
    --accent-color-one: blue; /*accent colors will be changed with js to match game colors*/
    --accent-color-two: red;
}

/*resets*/

*,
*::before,
*::after {
    box-sizing: border-box
}

/*components/utility classes*/

.button {
    border-radius: 9999999999px;
    transition: color 1s;
    padding: 1.5em 3em;
    color: #eee;
    font-family: "Legend Boy", sans-serif;
    border: none;
}

/*body*/

body {
    overflow-x: hidden;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    min-height: 100vh;
    line-height: 1.6;
    background: var(--background-color);
    color: var(--fore-ground-color);
    font-family: 'Press Start 2P', cursive;
}

/*header*/
.header__title {
    text-align: center;
    font-family: "Legend Boy", sans-serif;
    color: var(--accent-color-one);
    transition: color 1s;
}

/*main game section*/

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
}

.canvas-container {
    position: relative;
    box-shadow: 0px 0px 1em #000;
}

.canvas {
    border: 1px solid black;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.canvas--grid {
    z-index: -1;
}

.buttons-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1em;
}

.button--start {
    transition: color 1s;
    background: var(--accent-color-one);
}

.button--restart {
    transition: color 1s;
    background: var(--accent-color-two);
}

/*settings*/

.settings__widget {
    cursor: pointer;
    z-index: 10;
    position: fixed;
    right: 1em;
    top: 1em;
    display: flex;
    align-items: flex-start;
}

.settings__widget > p {
    color: #b3b3b3;
    font-size: calc(1vmin + 0.5rem);
}

.settings__widget > svg {
    transition: transform 2s;
}

.settings__widget > svg:hover,
.settings__widget > svg:focus {
    transform: rotate(180deg);
}
.settings__game-form {
    padding: 1em;
    min-height: 100vh;
    color: var(--background-color);
    background: var(--fore-ground-color);
    position: fixed;
    top: 0;
    right: 0;
    opacity: 0;
    transform: translateX(50%);
    transition: all 1s;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/*slide in animation*/
.settings__game-form--active {
    pointer-events: auto;
    opacity: 1;
    transform: translateX(0%);
}


@keyframes slide-in {
    from {
        transform: translateX(50%);
    }
    to {
        transform: translateX(0%);
    }
}

.settings__title {
    text-align: center;
}

.settings__label, .settings__colorschemes-legend {
    font-size: 0.75rem;
}

.settings__input--show-trail {
    transition: transform 1s;
}

.settings__input--show-trail:checked {
    transform: scale(1.5);
}

/*guide*/

.guide {
    background: var(--fore-ground-color);
    color: var(--background-color);
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
}

.guide__title {
    transition: color 1s;
}

.guide__title--h2 {
    color: var(--accent-color-one);
}

.guide__title--h3 {
    color: var(--accent-color-two)
}

.guide__header {
    flex-basis: 100%;
}

.guide__description {
    max-width: 60ch;
}

@media(prefers-color-scheme: dark) {
   :root {
    --fore-ground-color: #eee;
    --background-color: #222;
   }
}

@media (prefers-reduced-motion: reduce) {
    *, ::before, ::after {
      transition-duration: 0s !important;
      transition-delay: 0s !important;
    }
  }